@use '@/_variables';

#emptyMessage {
    text-align: center;
    padding: 40px 0;
    width: 100%;
}

#musiques {
    grid-area: content;
    
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 15px;
    height: fit-content;
    padding-bottom: 10px;

    max-height: calc(100vh - variables.$topbar-height - 20px);
}