@use '@/_variables';

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    grid-area: sidebar;
    background-color: variables.$sidebar-background;
    border-radius: variables.$sidebar-border-radius;
    padding: 10px;

    button {
        background-color: transparent;
        border: none;
        padding: 10px;
        border-radius: 10px;

        &:hover {
            cursor: pointer;
            background-color: variables.$button-hover-background;
        }
    }

    #boutonsTop {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}