/**
 * Variables de la barre de navigation
 */
$sidebar-background: #121212;
$sidebar-width: 100px;
$sidebar-margin: 10px;
$sidebar-border-radius: 5px;

/**
 * Variables du conteneur des listes de lecture et des vidéos
 */
$home-background: #000101;
$home-padding: 10px;

/**
 * Variables pour les boutons custom
 */
$button-hover-background: #222;